*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.container {
    height: 694px;
    width: 342px;
    margin: 80px auto;
    border-radius: 54px;
    border: 1px solid #222;
    box-shadow: inset 0 0 0 2px #606467, inset 0 0 0 6px #e2e3e4;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.frame {
    height: 684px;
    width: 332px;
    border-radius: 54px;
    background-color: #000000 ;
}

.display {
    height: 180px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 35px 25px 0px;
  
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 380px;
    margin: 25px 15px 0px;
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    
}

.result {
    font-size: 72px;
    font-weight: 300;
}

.button {
    border-radius: 50%;
    border: 0px solid;
    background-color: #323232;
}

.span2 {
    grid-column: span 2;
    border-radius: 40px;
    text-align: left;
    padding-left: 25px;
}

.grey {
    background-color: #a4a4a4;
    font-size: 20px;
    color: black;
}

.yellow {
    background-color: #ff9600;
    color: white;
}

.button:hover {
    background-color: #555555;
}

.button.grey:hover {
    background-color: #bdbdbd;
}

.button.yellow:hover {
    background-color: #ffc16a;
}
